# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
build/
release/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Binaries
public/downloads/
*.db
*.sqlite
